.left-case {
    background-color: #2c323e;
    width: 200px;
    height: 700px;
    color: #ffffff;
}
.left-case-content {
    width: 140px;
    margin: 30px;
}
.left-image {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}
.bottom-border-left {
    background-color: white;
}
.left-side-painted-point {
    background-color: #ffffff;
}
.left-side-non-painted-point {
    background-color: #dcd6d646;
}